@import './variables.scss';

body {
  padding: 0;
  margin: 0;
  background-color: #070724;
  background-image: url("../images/stars-bg.png");
  background-size: cover;
  background-position: fixed;
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;

  .container {
    max-width: $breakpoint-mobile;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $breakpoint-tablet) {
      max-width: $breakpoint-tablet;
    }

    @media (min-width: $breakpoint-desktop) {
      max-width: 1110px;
    }

    &--full {
      max-width: 100%;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        border-bottom: solid 1px #979797;
      }
    }
  }

  #app {
    font-family: 'Antonio', sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .header {
    display: block;
    text-align: left;

    @media (min-width: $breakpoint-tablet) {
      justify-content: space-between;
      align-items: center;
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-desktop) {
      display: flex;
    }

    .logo {
      text-transform: uppercase;
      color: white;
      font-size:  28px;
      padding: 16px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: #979797 solid 1px;

      @media (min-width: $breakpoint-tablet) {
        padding: 36px 24px 0;
        border: none;
        display: block;
        width: 120px;
        margin: 0 auto;
      }

      @media (min-width: $breakpoint-desktop) {
        display: flex;
        padding: 16px 24px;
        margin: 0;
      }

      .only-mobile{
        display: block;
        cursor: pointer;

        @media (min-width: $breakpoint-tablet) {
          display: none;
        }

        &:hover {
          fill: #979797;
        }
      }
    }
    
    .nav {
      padding: 30px 24px;
      font-family: 'Spartan', sans-serif;
      text-transform: uppercase;
      display: grid;

      @media (min-width: $breakpoint-tablet) {
        display: flex;
        justify-content: space-between;
        gap: 33px;
      }

      a {
        font-weight: bold;
        color: white;
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 1px;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          content: '';
          background-image: url('../images/icon-chevron.svg');
          height: 10px;
          width: 10px;
          position: absolute;
          right: 0;
          background-repeat: no-repeat;
        }

        &.router-link-exact-active {
          color: #b6b6b6;
        }

        @media (max-width: $breakpoint-mobile) {
          border-bottom: 1px solid #979797;
          padding: 30px 0;

          &::before {
            content: '';
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: -3px;
            margin-right: 20px;
            position: relative;
          }

          &.mercury {
          &::before {
              content: '';
              background-color: #DEF4FC;
            }
          }

          &.venus {
            &::before {
              content: '';
              background-color: #F7CC7F;
            }
          }

          &.earth {
            &::before {
              content: '';
              background-color: #545BFE;
            }
          }

          &.mars {
            &::before {
              content: '';
              background-color: #FF6A45;
            }
          }

          &.jupiter {
            &::before {
              content: '';
              background-color: #ECAD7A;
            }
          }

          &.saturn {
            &::before {
              content: '';
              background-color: #FCCB6B;
            }
          }

          &.uranus {
            &::before {
              content: '';
              background-color: #65F0D5;
            }
          }

          &.neptune {
            &::before {
              content: '';
              background-color: #497EFA;
            }
          }
        }
      }
    }
  }
}