@import '../scss/variables.scss';

.planet {
  &__info-container {
    display: grid;
    grid-template-columns: 760px 350px;
    margin-top: 126px;
    align-items: center;
  }

  &__image {
    position: relative;

    &-gio {
      position: absolute;
      width: 163px;
      height: 199px;
      bottom: -136px;
    }
  }

  &__specs {
    margin-top: 87px;
    margin-bottom: 56px;
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    column-gap: 30px;
    align-content: center;

    &-card {
      display: grid;
      border: solid $white 1px;
      height: 128px;
      align-content: center;
      padding-left: 23px;

      div {
        color: rgba($white, 0.5);
        font-size: 11px;
        font-weight: bold;
        font-family: $spartan;
        letter-spacing: 1px;
      }

      span {
        font-family: $antonio;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -1.5px;
        font-weight: 400;
        color: $white;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__source {
    display: flex;
    align-items: center;
    align-content: center;
    color: $white;
    font-family: $spartan;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    a {
      color: $white;
      font-size: 14px;
      font-weight: 800;
    }
  }

  &__specBtns{
    margin-top: 39px;

    button {
      display: flex;
      width: 100%;
      color: $white;
      background-color: transparent;
      border: $white 1px solid;
      font-family: $spartan;
      font-weight: bold;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 2.57px;
      text-transform: uppercase;
      margin-bottom: 16px;
      padding: 12px 0;
  
      span {
        margin: 0 26px;
      }
    }
  }

  button {
    &:hover {
      background-color: #d8d8d82f;
    }
  }
}