@import './variables.scss';

h1 {
  font-family: $antonio;
  font-size: 40px;
  font-weight: 300;
  color: $white;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $breakpoint-tablet) {
    font-size: 80px;
    font-weight: 400px;
  }
}

h2 {
  font-size: $antonio;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: $spartan;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2.5px;
}

h4 {
  font-family: $spartan;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

p {
  font-family: $spartan;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  color: $white;
}